#bioMine relies on Solr to index and search the data.
#This file specifies the properties that are necessary to setup a Solr for bioMine.
#Once the Solr index is configured the user does not need to run this script anymore.
#Note that you should download Solr 6.1.0 and Zookeeper 3.4.6 to user bioMine.

[setupConfigSection]
######################################################################
# Zookeeper configuration
######################################################################

#path to Zookeeper home folder
zk.home.path=/usr/local/zookeeper-3.4.6

#path to Zookeeper data directory (folder where zookeeper internal config and log files are written)
zk.data.path=/usr/local/zoo-data

#port to user for Zookeeper (default 2181)
zk.port=2181

######################################################################
# Solr configuration
######################################################################

#path to Solr home folder
solr.home.path=/usr/local/solr-6.6.0

#path to Solr data folder (folder where the index files, log files, etc. are stored)
solr.data.path=/usr/local/solr/data/

#Port to user for Solr
solr.port=8983

#ip of the host of the solr server
solr.host=149.165.169.179

#solr configuration folder (contains the index schema.xml, solrconfig.xml, etc.)
solr.index.config.path=/usr/local/biomine/solr/indexSchema/conf

#path to solr.xml file
solr.solrXml=/usr/local/biomine/solr/solr.xml

#number of shards to create in the solr index
solr.index.nbShards=4

######################################################################
# bioMine index configuration
######################################################################

#bioMine collections (collections to create for biomine (use "," as separator))
biomine.collections=text,biodata


